#!/bin/sh -eu

: "${__type:?}"  # make shellcheck happy

entry="${uri:?} ${distribution:?} ${component:?}"
options="${forcedarch-} ${signed_by-}"
options=${options## }; options=${options%% } # Trim spaces from either end

# header
cat <<EOF
# Managed by skonfig (${__type##*/}).
# Changes will be overwritten.
#

# ${name:?}
deb ${options:+[${options}] }${entry}
EOF
if [ -f "${__object:?}/parameter/include-src" ]
then
   echo "deb-src ${signed_by:+[${signed_by}] }${entry}"
fi
