#!/bin/sh
set -u

entry="$uri $distribution $component"
if test -n "${forcedarch-}"
then
   options=${options-}${options:+ }${forcedarch}
fi
if test -n "${signed_by-}"
then
   options=${options-}${options:+ }${signed_by}
fi

cat << DONE
# Created by cdist ${__type##*/}
# Do not change. Changes will be overwritten.
#

# $name
deb ${options:+[${options}] }$entry
DONE
if [ -f "$__object/parameter/include-src" ]; then
   echo "deb-src ${signed_by:+[${signed_by}] }$entry"
fi
